
.registation{
  width: 100%;
  height: 97vh;
background-image: url('../components/pics/back.jpeg');
background-size: cover;
 background-position: center;
  display: flex;
  justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #fff;



}

.registation img{
  width: 500px;
  height: 440px;
  border-radius: 10px;
}
.regi {

  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(213, 182, 182, 0.1);
  width: 300px;
  height: 400px;
  display: flex;
  color: aliceblue;
  
  flex-direction: column;
  align-items: center;
}

/* Styling for each input field */
.regi input {
  width: 100%;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling for the submit button */
.regi button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  /* margin-top: 5px; */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.regi button:hover {
  background-color: #29e132;
}

/* Container for the registration link */
.rg-con {
  margin-top: 20px;
  text-align: center;
}

.rg-con h3 {
  margin: 10px 0;
  /* color: #555; */
}

.rg-con p {
  margin: 0;
}

.rg-con a {
  color: #47e2dd;
  text-decoration: none;
}

.rg-con a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
  .regi {
    width: 90%;
  }

  .regi input, .regi button {
    font-size: 14px;
  }

  .rg-con h3 {
    font-size: 14px;
  }

  .rg-con p {
    font-size: 12px;
  }
}
